body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0; padding: 0; border: 0;
}

body {
    font: 14px Helvetica, Sans-Serif; line-height: 24px; color: #a6a6a6;
    background: #000 url(../images/wood.jpg);

}

#title{
    float:right;
}	

#container {
    width: 960px; margin: 0 auto 24px auto; background: #000; 
    box-shadow: 0px 5px 45px #343434;
    -moz-box-shadow: 0px 5px 45px #343434;
    -webkit-box-shadow: 0px 5px 45px #343434;
    font-family: chalkduster;
}

a {
    color: #abe2ff; text-decoration: none;
}
a:hover {
    color: #5db5e3;
}

header h1 {
    margin: 0px auto; float: left;
}



header nav {
    float: left;
    margin: 79px 0 17px 0;
}
header nav ul li {
    float: left; list-style: none; width: 58px; margin: 0 0 0 98px;
}
header nav ul li a {
    text-transform: uppercase;	
}

#feature {
    clear: both; height: 357px; overflow: hidden; margin: 0 0 48px 0;
    background: #000;
    background: -moz-linear-gradient(top, #000 0%, #191919 5%, #000 5%, #000 94%, #191919 94%, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(5%,#191919), color-stop(5%,#000), color-stop(94%,#000), color-stop(94%,#191919), color-stop(100%,#000));
    background: -webkit-linear-gradient(top, #000 0%,#191919 5%,#000 5%,#000 94%,#191919 94%,#000 100%);
}
#feature h2 {
    width: 216px; 
    height: 30px; 
    margin: 0 0 31px 0;
    text-indent: -9999px;
}
#feature img {
    float: right; margin: 22px 0 0 0;
}
#feature-info {
    float: left; width: 370px; margin: 89px 0 0 100px;
}
#feature-info p {
    margin: 0 0 34px 0; font-size: 20px; font-family: chalkduster;
}
#feature-info p.btn a {
    display: block; width: 170px; height: 35px;
    font-weight: bolder;
    font-family: chalkduster;
    font-size: 20px;
    background: -moz-linear-gradient(top, #000 0%, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#497389), color-stop(100%,#151e36), color-stop(100%,#000));
    background: -webkit-linear-gradient(top, #497389 0%,#151e36 100%);
    border: 5px solid #5DBCD2 ;
    border-radius: 70px; 
    -moz-border-radius: 30px;
    -webkit-border-radius: 0px;
    text-transform: uppercase; text-align: center; padding: 12px 0 0 0;
}

#content {
    overflow: hidden; clear: both;
}
#content .bucket {
    width: 212px; float: left; margin: 0 0 48px 20px;
    border: 1px solid #262626;
    background: #000;
    background: -moz-linear-gradient(top, #000 0%, #000 39%, #191919 39%, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(39%,#000), color-stop(39%,#191919), color-stop(100%,#000));
    background: -webkit-linear-gradient(top, #000 0%,#000 39%,#191919 39%,#000 100%);
}
#content .bucket:first-child {
    margin: 0 0 0 22px;
}

#content #step1, #content #step2, #content #step3, #content #step4 {
    display: block; 
    width: 212px; 
    height: 143px;
    margin: 0 0 32px 0; 
    text-indent: -9999px;
}
#content #step1 { background: url(../images/phone1.jpg);  }
#content #step2 { background: url(../images/phone2.jpg); }
#content #step3 { background: url(../images/phone3.jpg); }
#content #step4 { background: url(../images/phone4.jpg); }

#steps{
    
    font-family: chalkduster;
    font-size: 20px;
    text-align: center;
    color: #5db5e3;
}

#content .bucket p {
    margin: 0 0 24px 0; padding: 0 13px 0 13px;
}

footer {
    width: 960px; margin: 0 auto; height: 80px;
    font-size: 12px;
}
footer #copyright {
    float: left; margin: 0 0 0 22px;
}



footer #back-top {
    float: right; margin: 0 22px 0 0;
}



.button_wrap{
    position:relative;
    width:375px;
    height:80px;
    overflow:hidden;
    font-weight:bold;
    font-size:16px;
    margin:10px;
    
}


.button_aRight{
    width:95px;
    height:86px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#093d6f;
    color:#fff;
    top:0px;
    left:0px;
    position:absolute;
    line-height:80px;
    text-align:right;
}
.button_aRight span{
    display:none;
    padding-right:20px;
}
.button_bRight{
    width:84px;
    height:70px;
    background-color:#fff;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    color:#000;
    position:absolute;
    top:5px;
    left:5px;
    text-transform:uppercase;
    line-height:70px;
    text-align:center;
    cursor:pointer;
}
.button_bRight span{
    color:#008ddd;
}
.button_c{
    background-color:#008ddd;
    color:#fff;
    text-transform:uppercase;
}
.button_c span{
    color:#093d6f;
}

.tilt {
  -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
          transition: all 0.7s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
       -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

